.history {
  display: flex;
  flex-direction: column;
  max-height: 300px;
}
.history-header {
  display: flex;
  padding: 4px 10px;
  border-bottom: 2px solid #ddd;
  margin-bottom: 8px;
  align-items: center;
  justify-content: space-between;
}
.history-header span {
  font-size: 24px;
  font-weight: bold;
}

.history-list {
  padding: 4px;
  margin: 4px;
  overflow-y: scroll;
}

.history-item {
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
  padding: 4px;
}
.history-item:hover {
  background-color: #eee;
}
